body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h4 {
  margin-bottom: 0;
  padding-top: 5px;
}

.chatwrapper {
  position: fixed;
  bottom: 6px;
  right: 5px;
  z-index: 4;
}

.chat-open {
  width: 300px;
  text-align: center;
  box-shadow: -1px 5px 18px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
  display: none;
}

input {
  margin-bottom: 15px;
}

.start {
  border: none;
  margin-bottom: 10px;
  background-color: rgb(255, 211, 115);
  text-decoration: none;
  display: inline-block;
}

.chat {
  position: fixed;
  bottom: 15px;
  right: 25px;
  z-index: 5;
  font-size: 20px;
  overflow: hidden;
}

.fa-times {
  position: absolute;
  right: 10px;
  top: 10px;
}

.dot1, .dot2, .dot3 {
  width: 3.5px;
  height: 3.5px;
  background-color: white;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 50%);
  transform-origin: bottom;
}

.chat:hover .dot1 {
  animation: bounce .1s ease;
}

.chat:hover .dot2 {
  animation: bounce .1s ease;
  animation-delay: .1s;
}

.chat:hover .dot3 {
  animation: bounce .1s ease;
  animation-delay: .2s;
}

.dot1 {
  top: 10px;
  left: 11px;
}

.dot2 {
  top: 10px;
  left: 19px;
}

.dot3 {
  top: 10px;
  left: 27px;
}

@keyframes drops {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-30px);
  }

  50% {
    transform: scale(1, 1) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-10px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.logo {
  margin-left: 1rem;
  margin-top: 0rem;
}

.center-content {
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.right {
  margin-left: auto;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
}

.droppersonal {
  padding: 0;
  margin: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: white;
  text-decoration: none;
  background-color: #F3973A;
}

.nav-size {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  margin: 0 1.5rem;
}

.sidenav-size {
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 0.4rem 0.5rem;
}

.nav-link {
  padding-top: 0;
}

.slogan, .subslogan {
  color: rgb(255, 255, 255);
}

.mainhead {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.headline {
  background-color: rgba(250, 235, 215, 0.151);
  width: 35%;
  padding: 20px;
  margin-bottom: 5px;
}

.slogan {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.subslogan {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/*Digital Adoption*/
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
  width: 70%;
  color: #573321;
  line-height: 1em;
  /* border: 1px solid red; */
}

/*****LANDING SECTION ***/
.landing {
  display: flex;
  flex-wrap: wrap;
}

.leftpanel {
  position: relative;
  width: 100%;
  height: 80vh;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightpanel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  /* border: 2px solid blue; */
}

@media (min-width: 992px) {
  .leftpanel {
    max-width: 50%;
  }

  .rightpanel {
    max-width: 50%;
  }
}

.panel {
  position: absolute;
  width: 100%;
  background: #FAD097;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

.panelwrapper {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  position: relative;
}

.birdpic {
  position: absolute;
  left: -10%;
  top: 0;
  width: 90%;
  opacity: 0;
  z-index: -1;
  /* z-index: 2; */
}

.p {
  color: white;
  font-size: 20px;
  width: 45%;
  /* border: 1px solid yellow; */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  z-index: 3;
}

.box {
  border: 8px solid #573321;
  width: 70%;
  height: 60%;
  position: absolute;
  left: -10%;
  top: 25%;
  opacity: 0;
  transform: scale(0);
  z-index: -1;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 192, 55, 0.884);
  animation: box 20s linear infinite;
  bottom: -50px;
}

.box-area li:nth-child(1) {
  left: 86%;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 20%;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  animation-delay: 5s;
  animation-duration: 10s;
}

.box-area li:nth-child(4) {
  left: 65%;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 11%;
  animation-delay: 3s;
}

.box-area li:nth-child(6) {
  left: 40%;
  animation-delay: 2s;
}

.box-area li:nth-child(7) {
  left: 95%;
  animation-delay: 20s;
}

.box-area li:nth-child(8) {
  left: 1%;
  animation-delay: 15s;
}

@keyframes box {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.leaf {
  width: 100px;
  z-index: 3;
  position: absolute;
}

.l1 {
  top: 30%;
}

.l2 {
  top: 50%;
  left: 10%;
}

.l3 {
  top: 50%;
  left: 30%;
}

.l4 {
  top: 60%;
  left: 30%;
}

.l5 {
  top: 70%;
}

.l6 {
  top: 30%;
  left: 45%;
}

.l7 {
  top: 75%;
  left: 50%;
}

.img-anima {
  animation: circle1 5s infinite linear;
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg)
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg)
  }
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 5vw;
}

@media (max-width: 768px) {
  .ml7 {
    font-size: 10vw;
  }
}

.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/* FEATURE SECTION */
.container-fluid {
  padding: 7% 15%;
}

.features {
  position: relative;
  text-align: center;
  color: #573321;
}

.feature-title {
  font-size: 3rem;
  font-weight: 900;
  background-image: url(../img/forests2.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-des {
  font-size: 1rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #FAD097;
  margin-bottom: 1rem;
  background-image: url(../img/forests2.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  color: transparent;
}

.icon:hover {
  color: orange;
}

/*TESTIMONIAL*/
#testimonials {
  background-color: #FFBB77;
  color: white;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  align-items: center;
  text-align: center
}

/**VIEW BIRDS**/
.bird-wall {
  padding-top: 100px;
  background-color: #f4f4f4;
}

.viewbird {
  margin: 0 auto;
  text-align: center;
  color: #573321;
  padding-bottom: 20px;
  font-weight: 900;
}

/**MASONRY LAYOUT**/
.container-masonry {
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.gridimg {
  width: 100%;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
}

.grid-item {
  position: relative;
  border: 8px solid white;
  box-shadow: 3px 2px 2px rgb(146, 146, 146);
  margin: 15px;
}

.content {
  position: absolute;
  padding-top: 5px;
  background-color: white;
  color: #573321;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.content {
  opacity: 0;
  transform: translateY(-.1rem);
  transition: all;
  will-change: opacity, transform;
}

.product-line {
  margin-left: 5px;
}

.product-adopt {
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  border: 2px solid #573321;
  margin-bottom: 0;
  border-radius: 15px;
  cursor: pointer;
}

.product-adopt:hover {
  background-color: #573321;
  ;
  transition: .3s;
  color: white;
}

.fa-heart {
  justify-self: end;
  margin-right: 5px;
  margin-top: 7px;
  color: red;
  cursor: pointer;
}

.grid-item:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.grid-col--2, .grid-col--3 {
  display: none;
}

@media (min-width: 768px) {
  .container-masonry {
    width: 90%;
  }

  .grid-col--2 {
    display: block;
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }

  .container-masonry {
    width: 90%;
  }
}
